<body class="vh-100 ">
    <div class="container h-100">
        <div class="h-100 row justify-content-center">
            <div class="col-6 col-md-8">
                <div class="row justify-content-center p-3">
                    <h1 style="width:auto">Registration</h1>
                </div>
                <hr />
                <%= render "form" %>
            </div>
        </div>
    </div>
</body>


<%= render "devise/shared/links" %>
